<section class="auth container">
    <form class="auth__form" action="">
        
        <div class="auth__field">
            <label for="username" class="auth__label">Username</label>
            <input class="auth__input" id="username" name="username" type="text" />
        </div>
        
        <div class="auth__field">
            <label for="password" class="auth__label">Password</label>
            <input class="auth__input" id="password" name="password" type="password" />
        </div>
        
        <div class="auth__field">
            <input class="auth__submit" type="submit" value="Submit" />
        </div>

        <p class="auth__paragraph">
            Not registered? 
            <a class="auth__link" href="#">Create an account</a>
        </p>
    </form>
</section>