<section class="chatroom container">
    <div class="chatroom__wrapper">
        <div class="messages">
            <ul class="messages__list">
                <% @messages.each do |message| %>
                    <li class="messages__item">
                        <div class="message">
                            <div class="message__wrapper">
                                <span class="message__author">
                                    <%= message.user.username %>:
                                </span>
                                <span class="message__content">
                                    <%= message.body %>
                                </span>
                            </div>
                            <small class="message__timestamp">
                                <%= message.created_at.strftime("%d/%m/%Y %H:%M") %>
                            </small>
                        </div>
                    </li>
                <% end %>

                <%# <li class="messages__item">
                    <div class="message">
                        <div class="message__wrapper">
                            <span class="message__author">
                                Joãozinho:
                            </span>
                            <span class="message__content">
                                Bom dia!
                            </span>
                        </div>
                        <small class="message__timestamp">
                            15/10/2025 09:19
                        </small>
                    </div>
                </li> %>
            </ul>
        </div>
        <form class="chatroom__form" action="">
            <textarea class="chatroom__textarea" name="#" id="#"></textarea>
            <input class="chatroom__input" type="submit" autocomplete="off" value="Send" />
        </form>
    </div>
    <aside class="participants">
        <span class="participants__text">Online users</span>
        <ul class="participants__list">
            <% @users.each do |user| %>
                <li class="participants__item">
                    <a class="participants__link" href="#">
                        <%= user.username %>
                    </a>
                </li>
            <% end %>

            <%# <li class="participants__item">
                <a class="participants__link" href="#">
                    Joãozinho
                </a>
            </li> %>
        </ul>
    </aside>
</section>