<nav class="navbar" data-controller="navbar">
    <div class="container">
        <ul class="navbar__list">
            <li class="navbar__item">
                <%= link_to "Chatroom", root_path, class: "navbar__link" %>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="#">
                    Messages
                </a>
            </li>
            <li class="navbar__item navbar__item--menu">
                <a class="navbar__link navbar__link--menu" href="#" data-action="click->navbar#toggle:prevent" data-navbar-target="navLinkMenu">
                    Account
                </a>
                <div class="menu" data-navbar-target="menu">
                    <ul class="menu__list">
                        <% if logged_in? %>
                            <li class="menu__item">
                                <%= link_to "Log out", logout_path, data: { turbo_method: :delete}, class: "menu__link" %>
                            </li>
                        <% else %>
                            <li class="menu__item">
                                <%= link_to "Log in", login_path, class: "menu__link" %>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Sign in
                                </a>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>